html{
    background-color: #EEF5FF;
}
body{
    margin:0;
    
}
.heading{
    text-align: center;
    
}
.myname{
    font-size: 6rem;
    font-family: 'Single Day', cursive;
    letter-spacing: 6px;
    color: #176B87;
    margin-bottom: 0%;
}
.mywork{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #176B87;
    letter-spacing: 5px;
}
.aboutMe{
    text-align: center;
    padding-top: 30px;
}

.hello{
    font-size: 4rem;
    font-family: 'Single Day', cursive;
    color: #176B87;
    margin:30px;
}
.intro{
    display: inline-block;
    width: 500px;
    font-size: 1.4rem;
    font-family: 'Merriweather', serif;
    margin-bottom: 50px;
}
.mySkills{
    text-align: center;
    font-size: 2rem;
    color: #176B87;
    font-family: 'Merriweather', serif;
}
.msflex{
    display: flex;
    justify-content: center;
}
.middlecontainer{
    display: grid;
    grid-template-columns: minmax(200px,450px) minmax(200px,450px);
    grid-template-rows: 225px 225px;
    font-family: 'Merriweather', serif;
    gap:10px
}
.column1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.skills{
    line-height: 30px;
    word-spacing: 7px;
}
.footer{
    background-color: #427D9D;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container{
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}
.contact{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
}
.contact1{
    color: #176B87;
    font-size: 2rem;
    padding-bottom: 25px;
}
.buttoncontainer{
    display:flex;
    justify-content: center;
    padding-bottom: 25px;
}
.button {
    background-color:#176B87;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    transition-duration: 0.4s;
    
}

.buttonAnchor{
    text-decoration: none;
    color: aliceblue;

}
.button:hover {
    background-color:#427D9D;
    color: white;
}
.contact3{
    letter-spacing: 3px;
}
.insta,.twitter,.linkedin{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    background-color:#176B87;
}
.mark{
    text-align: center;
    font-size: 1.2em;
    color: aliceblue;
    margin-top: 10px;
}
@media only screen and (max-width:768px){
    .myname{
        font-size: 4rem;
    }
    .mywork{
        font-size:1.5rem ;
    }
    .Luffy{
        height:100px;
    }
    .intro{
        font-size: 1rem;
    }
    .mySkills{
        font-size: 1.5rem;
    }
    .hello{
        font-size: 3rem;
    }
    .contact{
        font-size: 1rem;
    }
    .contact1{
        font-size: 1.4rem;
    }
    .gojo{
        height: 140px;
    }
}